.container {
  margin: 0 auto;
}
.container > section {
  margin-bottom: var(--spacing-xl);
}
.container > section > h2 {
  border-bottom: 1px solid var(--color-black-20);
  padding-bottom: var(--spacing-xs);
  margin-bottom: var(--spacing-m);
}
